@import "tailwindcss";

/* Design tokens (Tailwind v4) */
@theme {
  --color-primary: #2B1B4D;
  --color-accent: #4718AD;

  --color-background: #ffffff;
  --color-foreground: #0f0f0f;
  --color-muted: #f5f5f7;
}

/* Base global */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter);
}

/* Utilities customizadas */
@layer utilities {
  .text-gradient {
    background-image: linear-gradient(
      135deg,
      var(--color-primary) 0%,
      var(--color-accent) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient-green {
    background-image: linear-gradient(
      135deg,
      #10b981 0%,
      #059669 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 60s linear infinite;
  }

  /* fade nas laterais */
  .marquee-mask {
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 10%,
      black 90%,
      transparent 100%
    );
  }
  
}