@import "tailwindcss";

/* Design tokens (Tailwind v4) */
@theme {
  --color-primary: #2B1B4D;
  --color-accent: #4718AD;

  --color-background: #ffffff;
  --color-foreground: #0f0f0f;
  --color-muted: #f5f5f7;
}

/* Base global */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter);
}

/* Utilities customizadas */
@layer utilities {
  .text-gradient {
    background-image: linear-gradient(
      135deg,
      var(--color-primary) 0%,
      var(--color-accent) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}